*{
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}
.img{
    width: 100%;
    transition: 0.3s all;
}
.box1{
    margin-bottom: 10px;
    overflow: hidden;
}
.boxx,.boxxx{
    width: 23%;
}
.box2{
    width: 47%;
    overflow: hidden;
}
.ppp,.pp{
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.oq{
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 251, 252);
    bottom: 10px;
    right: 10px;
    padding: 5px;
}
.rasm{
    position: relative;
    overflow: hidden;
}
.knopka{
    background-color: black;
    color: white;
    font-size: 10px;
    line-height: 1.6;
    padding: 8px;
    border: none;
    width: 130px;
}
.rasm:hover .img {
    transform: scale(1.1);
}
@media (max-width:1200px) {
    .box{
        flex-wrap: wrap;
    }
    .boxx{
        width: 29%;
    }
    .box2{
        width: 69%;
    }
    .boxxx{
        width: 70%;
    }
    .knopka{
        margin-bottom: 15px;
    }
}
@media (max-width:1000px) {
    .box{
        flex-wrap: wrap;
    }
    .boxx{
        width: 70%;
    }
    .box2{
        width: 90%;
    }
    .boxxx{
        width: 70%;
    }
    .knopka{
        margin-bottom: 15px;
    }
}

